* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1144px;
  margin: 0 auto;
  padding: 0 20px;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}

nav {
  background: #ffffff;
  padding: 19px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
  transition: 0.5s;
}

.navbar-shrink {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.08);
  background-color: #002529;
  z-index: 999999999999;
  padding: 17px 0;
}

.hamburger {
  display: none;
}
@media (max-width: 900px) {
  .hamburger {
    display: block;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
}

#navbar-responsive {
  display: none;
}

button {
  cursor: pointer;
}

#backtop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  padding: 7px;
  cursor: pointer;
  border-radius: 35%;
  background-color: transparent;
  opacity: 0;
  transition: 0.5s;
  border: 1px solid grey;
}

#backtop img {
  width: 30px;
  height: 30px;
}

body {
  font-family: "Poppins", sans-serif;
}

.dark {
  background-color: black;
}
.dark header {
  background-color: black;
}
.dark * {
  color: whitesmoke !important;
}
.dark .nav-menus .nav-btns #btndark {
  color: black !important;
}
.dark #navbar-responsive ul li .nav__responsive-btn {
  color: black !important;
}

.black {
  background-color: black;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-container .nav-logo-img {
  display: flex;
  align-items: center;
  gap: 16px;
}
.nav-container .nav-logo-img h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;
  color: #173a56;
}
.nav-container .nav-menus {
  display: flex;
  align-items: center;
  gap: 24px;
}
.nav-container .nav-menus ul {
  display: flex;
  align-items: center;
  gap: 24px;
}
.nav-container .nav-menus ul li a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #3d4c55;
  transition: 0.3s;
}
.nav-container .nav-menus ul li a:hover {
  color: #22343d;
}
.nav-container .nav-menus .nav-btns {
  display: flex;
  gap: 24px;
}
.nav-container .nav-menus .nav-btns a {
  padding: 10px 23px 9px 25px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #173a56;
  border: 1px solid #bcd0e5;
  background: #ffffff;
  border-radius: 4px;
  transition: 0.3s;
}
.nav-container .nav-menus .nav-btns a:hover {
  background: #02897a;
  color: #ffffff;
}
.nav-container .nav-menus button {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f3f3f3;
  border: none;
  border-radius: 100px;
}

.home {
  padding: 110px 0 115px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 1000px) {
  .home {
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
  }
}
@media (max-width: 400px) {
  .home {
    text-align: center;
  }
}
.home .home-left h1 {
  max-width: 350px;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  line-height: 60px;
  color: #22343d;
}
@media (max-width: 400px) {
  .home .home-left h1 {
    font-size: 35px;
  }
}
.home .home-left p {
  padding-top: 18px;
  max-width: 400px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #22343d;
}
@media (max-width: 400px) {
  .home .home-left p {
    font-size: 14px;
  }
}
.home .home-left .home__left-btns {
  margin-top: 45px;
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 400px) {
  .home .home-left .home__left-btns {
    flex-direction: column;
    text-align: center;
  }
}
.home .home-left .home__left-btns .home-leftbtn {
  padding: 15px 41px;
  background: #02897a;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  white-space: nowrap;
}
.home .home-left .home__left-btns .home__btns-watch {
  display: flex;
  align-items: center;
  gap: 8.5px;
}
.home .home-left .home__left-btns .home__btns-watch a {
  white-space: nowrap;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #02897a;
  border-bottom: 1px solid #02897a;
}
.home .home-right img {
  width: 100%;
}
@media (max-width: 1000px) {
  .home .home-right img {
    width: 80%;
  }
}

#header-bottom {
  padding-bottom: 90px;
}
#header-bottom .header-bottom .header__bottom-content {
  display: grid;
  justify-content: center;
}
#header-bottom .header-bottom .header__bottom-content h1 {
  max-width: 539px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #22343d;
}
#header-bottom .header-bottom .header__bottom-rows {
  padding: 66px 0 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 48px;
}
@media (max-width: 1000px) {
  #header-bottom .header-bottom .header__bottom-rows {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 50px;
  }
}
@media (max-width: 400px) {
  #header-bottom .header-bottom .header__bottom-rows {
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
  }
}
#header-bottom .header-bottom .header__bottom-rows .header__bottom-row h3 {
  padding: 30px 0 13px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #22343d;
}
#header-bottom .header-bottom .header__bottom-rows .header__bottom-row p {
  max-width: 200px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #22343d;
}
#header-bottom .header-bottom .header__bottom-btn {
  text-align: center;
}
#header-bottom .header-bottom .header__bottom-btn a {
  padding: 15px 31px;
  background: #02897a;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

#main .main {
  padding-bottom: 150px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 150px 84px;
  align-items: center;
}
@media (max-width: 1000px) {
  #main .main {
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
  }
}
@media (max-width: 600px) {
  #main .main .main-left {
    display: grid;
    justify-content: center;
  }
}
#main .main .main-left h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #22343d;
}
#main .main .main-left h4 {
  padding: 8px 0 23px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #22343d;
}
#main .main .main-left p {
  max-width: 440px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #22343d;
}
#main .main .main-left h5 {
  padding: 30px 0 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #22343d;
}
#main .main .main-left h4 {
  padding: 25px 0 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #22343d;
}
#main .main .main-left .main__left-content {
  margin-top: 30px;
  display: grid;
  grid-row-gap: 30px;
}
#main .main .main-left .main__left-content .main-text {
  display: flex;
  gap: 30px;
  align-items: center;
}
#main .main .main-left .main__left-content .main-text p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #22343d;
}
@media (max-width: 1000px) {
  #main .main .main-right {
    text-align: center;
  }
}
#main .main .main-right img {
  width: 100%;
}
@media (max-width: 1000px) {
  #main .main .main-right img {
    width: 60%;
    text-align: center;
  }
}

#quick .quick-content {
  display: grid;
  justify-content: center;
}
#quick .quick-content h2 {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #22343d;
}
#quick .quick-content p {
  padding: 16px 0 32px;
  max-width: 542px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #22343d;
}
#quick .quick-rows {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px 178px;
}
@media (max-width: 800px) {
  #quick .quick-rows {
    grid-template-columns: 1fr;
    grid-row-gap: 100px;
  }
}
#quick .quick-rows .quick-row {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media (max-width: 800px) {
  #quick .quick-rows .quick-row {
    justify-content: center;
  }
}
@media (max-width: 400px) {
  #quick .quick-rows .quick-row {
    flex-direction: column;
    gap: 30px;
  }
}
#quick .quick-rows .quick-row img {
  width: 98px;
  height: 98px;
}
#quick .quick-rows .quick-row p {
  padding: 15px 30px 20px 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2f281e;
  background: #ffffff;
  box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
  border-radius: 26.5px;
}
#quick .quick-btn {
  text-align: center;
  padding-top: 63px;
}
#quick .quick-btn a {
  padding: 15px 31px;
  background: #02897a;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

#strategies {
  padding: 150px 0;
}
#strategies .strategies .strategies-content h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  color: #22343d;
}
#strategies .strategies .strategies-content p {
  padding: 8px 0 33px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #22343d;
}
#strategies .strategies .strategies-rows {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 32px;
}
@media (max-width: 600px) {
  #strategies .strategies .strategies-rows {
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
  }
}
#strategies .strategies .strategies-rows .strategies-row {
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #e5e5e5;
}
#strategies .strategies .strategies-rows .strategies-row img {
  width: 100%;
}
#strategies .strategies .strategies-rows .strategies-row .strategies__row-content {
  padding: 24px 30px 40px 24px;
}
#strategies .strategies .strategies-rows .strategies-row .strategies__row-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #22343d;
}
#strategies .strategies .strategies-rows .strategies-row .strategies__row-content p span {
  font-weight: 700;
}
#strategies .strategies .strategies-rows .strategies-row .strategies__row-content h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #22343d;
  transition: 0.3s;
}
#strategies .strategies .strategies-rows .strategies-row .strategies__row-content h4:hover {
  color: #02897a;
}
#strategies .strategies .strategies-dots {
  padding-top: 64px;
  text-align: center;
}

#price .price .price-content {
  display: grid;
  justify-content: center;
  grid-row-gap: 8px;
  margin-bottom: 50px;
}
#price .price .price-content h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  color: #22343d;
}
#price .price .price-content p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #22343d;
}
#price .price .price-rows {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 65px;
}
@media (max-width: 1000px) {
  #price .price .price-rows {
    grid-row-gap: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
#price .price .price-rows .price-row:hover {
  background: #02897a;
}
#price .price .price-rows .price-row:hover > h4,
#price .price .price-rows .price-row:hover > p {
  color: white;
}
#price .price .price-rows .price-row:hover > .price__row-numbers h1,
#price .price .price-rows .price-row:hover > .price__row-numbers p,
#price .price .price-rows .price-row:hover > .price__row-numbers h3,
#price .price .price-rows .price-row:hover > .price__row-numbers p {
  color: white;
}
#price .price .price-rows .price-row:hover > .price__row-operators p {
  color: white;
}
#price .price .price-rows .price-row:hover > a {
  background-color: #fff;
  color: #02897a;
}
#price .price .price-rows .price-row {
  display: grid;
  justify-content: center;
  padding: 24px 75px 32px 73px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  transition: 0.3s;
}
@media (max-width: 1000px) {
  #price .price .price-rows .price-row {
    width: 50%;
  }
}
@media (max-width: 500px) {
  #price .price .price-rows .price-row {
    width: 100%;
  }
}
#price .price .price-rows .price-row h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #22343d;
  text-align: center;
}
#price .price .price-rows .price-row p {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #22343d;
  text-align: center;
  white-space: nowrap;
}
#price .price .price-rows .price-row a {
  padding: 15px 31px;
  background: #02897a;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  width: 100%;
  white-space: nowrap;
  text-align: center;
}
#price .price .price-rows .price-row .price__row-operators {
  display: grid;
  grid-row-gap: 16px;
  margin-bottom: 38px;
}
#price .price .price-rows .price-row .price__row-numbers {
  display: flex;
  align-items: center;
  gap: 8px;
}
#price .price .price-rows .price-row .price__row-numbers h1 {
  font-weight: 700;
  font-size: 76px;
  line-height: 100px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #02897a;
}
#price .price .price-rows .price-row .price__row-numbers h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1px;
  color: #02897a;
}
#price .price .price-rows .price-row .price__row-numbers p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1px;
  color: #afafaf;
}

#clients {
  padding: 150px 0 157px;
}
#clients .clients-content {
  display: grid;
  justify-content: center;
  text-align: center;
}
#clients .clients-content h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #22343d;
}
#clients .clients-content span {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #22343d;
}
#clients .clients-rows {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding-top: 50px;
  grid-column-gap: 64px;
}
@media (max-width: 800px) {
  #clients .clients-rows {
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
  }
}
#clients .clients-rows .clients-row {
  padding: 28px 26px 24px;
  display: grid;
  grid-row-gap: 16px;
  background: #ffffff;
  border: 1px solid #dedede;
  border-radius: 5px;
}
#clients .clients-rows .clients-row .clients__row-content p {
  max-width: 275px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
}
#clients .clients-rows .clients-row .clients__row-about {
  display: flex;
  gap: 14px;
}
#clients .clients-rows .clients-row .clients__row-about .clients__about-heading h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #02897a;
}
#clients .clients-rows .clients-row .clients__row-about .clients__about-heading p {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #252b42;
}

#join .join-card {
  margin: 0 100px;
  padding: 14px 36px 15px 51px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  background: #02897a;
  border-radius: 32px;
}
@media (max-width: 800px) {
  #join .join-card {
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
  }
}
@media (max-width: 500px) {
  #join .join-card {
    margin: 0;
  }
}
#join .join-card .join__card-left {
  display: grid;
  grid-row-gap: 50px;
}
#join .join-card .join__card-left h1 {
  margin-top: 35px;
  font-weight: 600;
  font-size: 32px;
  line-height: 151.4%;
  color: #ffffff;
}
#join .join-card .join__card-left h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 151.4%;
  color: #ffffff;
}
#join .join-card .join__card-left a {
  margin-bottom: 56px;
  max-width: 150px;
  padding: 13px 35px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #02897a;
  background: #ffffff;
  border-radius: 8px;
}
#join .join-card .join__card-right img {
  width: 100%;
}

footer {
  padding: 150px 0 46px;
}
footer .footer {
  display: grid;
  grid-template-columns: auto 1fr 0.5fr;
}
@media (max-width: 1000px) {
  footer .footer {
    grid-template-columns: 1fr;
  }
}
footer .footer .footer-left {
  display: grid;
  grid-row-gap: 25px;
}
@media (max-width: 1000px) {
  footer .footer .footer-left {
    justify-content: center;
    margin-bottom: 50px;
  }
}
footer .footer .footer-left .footer-logo-img {
  display: flex;
  gap: 16px;
  align-items: center;
}
footer .footer .footer-left .footer-icon {
  display: flex;
  gap: 16px;
}
footer .footer .footer-left .footer-icon img {
  width: 40px;
  height: 40px;
}
footer .footer .footer-middle {
  padding: 0 108px 0 161px;
  display: flex;
  gap: 129px;
}
@media (max-width: 1000px) {
  footer .footer .footer-middle {
    justify-content: center;
    margin-bottom: 50px;
    padding: 0;
  }
}
@media (max-width: 350px) {
  footer .footer .footer-middle {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 50px;
  }
}
footer .footer .footer-middle h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #22343d;
}
footer .footer .footer-middle ul li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #22343d;
}
@media (max-width: 1000px) {
  footer .footer .footer-right {
    display: grid;
    justify-content: center;
  }
}
footer .footer .footer-right h2 {
  margin-bottom: 34px;
  max-width: 240px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #22343d;
}
footer .footer .footer-right input {
  padding: 10px 15px;
  margin-bottom: 21px;
  width: 100%;
  background: #ffffff;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  font-family: "ProximaNova", sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #bcd0e5;
}
footer .footer .footer-right input:focus {
  outline: none;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.08);
}
@media (max-width: 1000px) {
  footer .footer .footer-right input {
    width: 100%;
  }
}
footer .footer .footer-right a {
  padding: 8px 15px;
  background: #02897a;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
footer .footer-bottom {
  padding-top: 30px;
  text-align: center;
}
footer .footer-bottom p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #22343d;
}

@media (max-width: 900px) {
  .nav-container .nav-menus ul {
    display: none;
  }
  .nav-container .nav-menus .nav-btns {
    display: none;
  }
  .nav-menus-link {
    display: block;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #3d4c55;
    transition: 0.3s;
  }
  #navbar-responsive .nav-menus-link:hover {
    color: #22343d;
    transition: 0.5s;
  }
  .hamburger i {
    font-size: 30px;
    color: black;
  }
  #close-navbar {
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  #close-navbar i {
    font-size: 30px;
    color: white;
  }
  #navbar-responsive ul .nav__responsive-btn {
    display: block;
    max-width: 100px;
    margin-top: 39px;
    width: 100%;
    padding: 10px 19px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #173a56;
    border: 1px solid #bcd0e5;
    background: #ffffff;
    border-radius: 4px;
    transition: 0.3s;
  }
  .nav__responsive-btn:hover {
    background: #02897a;
    color: #ffffff;
  }
  #navbar-responsive {
    position: absolute;
    background: #232536;
    display: block;
    top: 0;
    z-index: 2;
    left: -100%;
    width: 100%;
    transition: 1s;
  }
  #navbar-responsive ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    height: 100vh;
    list-style-type: none;
  }
}