#company {
  .company-head {
    padding-top: 40px;
    text-align: center;
    h2 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
      color: #2c2d2e;
      span {
        color: #ef7c00;
      }
    }
  }
  .company {
    padding: 16px 0 56px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media (min-width: 1000px) {
      flex-direction: row;
      .company-left,
      .company-right {
        width: 50%;
      }
    }
    .company-left {
      width: 100%;
      display: flex;
      position: relative !important;
      .company-img {
        width: 100%;
      }
    }
    .company-right {
      width: 100%;
      display: grid;
      grid-row-gap: 20px;
      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: #2c2d2e;
      }
    }
  }
}
