#comand {
  margin-bottom: 100px;
  h2 {
    font-family: "Montserrat";
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #2c2d2e;
    span {
      color: #ef7c00;
    }
  }
  .comand {
    margin-top: 16px;
    padding: 16px 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    @media (min-width: 576px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 1200px) {
      grid-template-columns: repeat(5, 1fr);
    }
    .comand-row {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      img {
        width: 100%;
      }
      h3 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        color: #2c2d2e;
        text-align: center;
      }
      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 13px;
        color: #919399;
      }
      a {
        margin-top: 8px;
        text-decoration: none;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 13px;
        color: #2c2d2e;
      }
    }
  }
  .comand-btn {
    margin-top: 32px;
    text-align: center;
    button {
      padding: 10px 20px;
      border: 1px solid #ef7c00;
      border-radius: 4px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
      text-align: center;
      color: #ef7c00;
      background-color: transparent;
    }
  }
}
